### Importar los datos 

Importamos los datos desde los archivos .csv a DataFrames.

In [19]:
import pandas as pd 


df_clima = pd.read_csv(
    'data/clima_OUT.csv',
    sep=';',                    # Delimitador de columnas
    decimal=',',                # Separador decimal
    encoding='latin1',          # Codificación para caracteres especiales (Õ, Û, Ì, etc.)
    parse_dates=['date'],       # Convertir columna de fecha a datetime
    dayfirst=True  
)



df_datos_suelo1 = pd.read_csv(
    'data/Mini1_OUT.csv',
    sep=';',                    # Delimitador de columnas
    decimal=',',                # Separador decimal
    encoding='latin1',          # Codificación para caracteres especiales (Õ, Û, Ì, etc.)
    parse_dates=['date'],       # Convertir columna de fecha a datetime
    dayfirst=True  
)

# Convertir la columna 'hour' a tipo datetime combinándola con 'date'
df_datos_suelo1['datetime'] = pd.to_datetime(df_datos_suelo1['date']) + pd.to_timedelta(df_datos_suelo1['hour'], unit='h')

df_datos_suelo2 = pd.read_csv(
    'data/Mini2_OUT.csv',
    sep=';',                    # Delimitador de columnas
    decimal=',',                # Separador decimal
    encoding='latin1',          # Codificación para caracteres especiales (Õ, Û, Ì, etc.)
    parse_dates=['date'],       # Convertir columna de fecha a datetime
    dayfirst=True  
)

# Convertir la columna 'hour' a tipo datetime combinándola con 'date'
df_datos_suelo2['datetime'] = pd.to_datetime(df_datos_suelo2['date']) + pd.to_timedelta(df_datos_suelo2['hour'], unit='h')

df_riego = pd.read_csv(
    'data/RIEGOS ALMENDRO2024.csv',
    sep=';',                      # Delimitador de punto y coma
    decimal=',',                  # Usa coma como separador decimal
    thousands=None,               # No hay separador de miles
    parse_dates=['Inicio', 'Fin'], # Convierte estas columnas a datetime
    dayfirst=True,                # Formato de fecha día/mes/año
    dtype={
        'Programa': 'int',
        'Nombre': 'str',
        'Activación': 'int',
        'Duración': 'str',       # Lo convertiremos después a timedelta
        'Agua m³': 'float',
        'Abono 1 L': 'float',
        'Abono 2 L': 'float',
        'Abono 3 L': 'float',
        'Abono 4 L': 'float',
        'Tipo': 'str',
        'Sectores de Riego': 'int'
    }
)

# Convertir la columna 'Duración' a timedelta
df_riego['Duración'] = pd.to_timedelta(df_riego['Duración'])

display(df_clima)
display(df_datos_suelo1)
display(df_datos_suelo2)
display(df_riego)

,hour,date,Índice de calor,Humedad relativa,Presión de vapor,Radiación solar,Temperatura,Punto de rocío,Temperatura del bulbo húmedo,Velocidad del viento,Racha de viento máxima,Dirección del viento,Humectación en hoja (porcentaje),Presión atmosférica,Precipitaciones
0,0,2024-02-05,1.775,96.50,7.4375,0.0,1.775,1.2700,1.581047,0.00,0.75,33.75,4.25,949.275,0.0
1,1,2024-02-05,1.275,97.00,7.1900,0.0,1.275,0.8450,1.112692,0.75,2.00,157.50,5.00,949.125,0.0
2,2,2024-02-05,0.525,97.25,6.8300,0.0,0.525,0.1325,0.381455,0.25,1.75,33.75,5.00,948.875,0.0
3,3,2024-02-05,0.400,98.00,6.7700,0.0,0.400,0.1200,0.296292,0.25,1.00,0.00,5.00,948.800,0.0
4,4,2024-02-05,-0.050,98.00,6.5650,0.0,-0.050,-0.3300,-0.151473,0.50,1.00,0.00,5.25,948.500,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5411,19,2024-09-17,19.100,53.25,22.5025,36.0,19.100,9.3025,13.761303,14.00,20.50,22.50,0.00,932.050,0.0
5412,20,2024-09-17,17.025,59.50,19.8450,4.5,17.025,9.0200,12.746840,13.00,21.25,67.50,0.00,932.600,0.0
5413,21,2024-09-17,15.475,63.50,18.0425,0.0,15.475,8.5250,11.836062,10.50,17.25,11.25,0.00,933.150,0.0
5414,22,2024-09-17,14.300,68.25,16.7775,0.0,14.300,8.4750,11.280843,11.50,17.25,67.50,0.00,933.725,0.0
5415,23,2024-09-17,13.450,72.75,15.9100,0.0,13.450,8.6100,10.951058,11.00,17.25,33.75,0.00,933.800,0.0

,hour,date,Contenido volumetrico (10 cm),Contenido volumetrico (20 cm),Contenido volumetrico (40 cm),Contenido volumetrico (60 cm),Agua util,Temperatura en suelo (10 cm),Temperatura en suelo (20 cm),Temperatura en suelo (40 cm),Temperatura en suelo (60 cm),datetime
0,7,2024-02-05,19.500,25.700,30.30,32.800000,59.300474,6.750000,7.950000,9.450000,9.6,2024-02-05 07:00:00
1,10,2024-02-05,19.500,25.700,30.30,32.866667,59.459008,6.666667,7.633333,9.333333,9.6,2024-02-05 10:00:00
2,11,2024-02-05,19.500,25.650,30.30,32.900000,59.469375,7.000000,7.400000,9.250000,9.6,2024-02-05 11:00:00
3,12,2024-02-05,19.500,25.700,30.30,32.825000,59.359924,7.650000,7.525000,9.150000,9.6,2024-02-05 12:00:00
4,13,2024-02-05,19.575,25.700,30.30,32.800000,59.291024,8.475000,7.675000,9.100000,9.6,2024-02-05 13:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
5316,19,2024-09-17,29.575,29.300,31.70,33.350000,74.102417,19.200000,18.575000,18.800000,19.0,2024-09-17 19:00:00
5317,20,2024-09-17,29.500,29.300,31.70,33.300000,73.908517,18.850000,18.600000,18.800000,19.0,2024-09-17 20:00:00
5318,21,2024-09-17,29.400,29.225,31.70,33.300000,73.733517,18.475000,18.600000,18.900000,19.0,2024-09-17 21:00:00
5319,22,2024-09-17,29.375,29.200,31.70,33.300000,73.711867,18.175000,18.575000,18.900000,19.0,2024-09-17 22:00:00
5320,23,2024-09-17,29.300,29.200,31.65,33.300000,73.571317,17.900000,18.450000,19.000000,19.1,2024-09-17 23:00:00

,hour,date,Contenido volumetrico (10 cm),Contenido volumetrico (20 cm),Contenido volumetrico (40 cm),Contenido volumetrico (60 cm),Agua util,Temperatura en suelo (10 cm),Temperatura en suelo (20 cm),Temperatura en suelo (40 cm),Temperatura en suelo (60 cm),datetime
0,0,2024-02-05,16.500,21.40,21.850,17.800,32.113496,8.525,9.600,10.200,10.075,2024-02-05 00:00:00
1,1,2024-02-05,16.500,21.40,21.850,17.800,32.113496,8.200,9.375,10.200,10.100,2024-02-05 01:00:00
2,2,2024-02-05,16.450,21.30,21.850,17.800,31.963496,7.900,9.175,10.150,10.100,2024-02-05 02:00:00
3,3,2024-02-05,16.400,21.30,21.850,17.800,31.913496,7.675,8.975,10.100,10.100,2024-02-05 03:00:00
4,4,2024-02-05,16.400,21.30,21.800,17.800,31.813496,7.400,8.775,10.075,10.100,2024-02-05 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
5355,19,2024-09-17,23.125,26.30,27.500,13.800,46.938496,19.750,19.875,20.375,20.500,2024-09-17 19:00:00
5356,20,2024-09-17,22.200,25.65,27.225,13.800,44.813496,19.500,19.900,20.400,20.500,2024-09-17 20:00:00
5357,21,2024-09-17,21.175,25.20,26.725,13.800,42.338496,19.225,19.875,20.400,20.500,2024-09-17 21:00:00
5358,22,2024-09-17,20.750,24.90,25.925,13.800,40.013496,18.900,19.800,20.475,20.500,2024-09-17 22:00:00
5359,23,2024-09-17,20.450,24.70,25.525,13.825,38.763496,18.675,19.650,20.500,20.500,2024-09-17 23:00:00

,Programa,Nombre,Activación,Inicio,Fin,Duración,Agua m³,Abono 1 L,Abono 2 L,Abono 3 L,Abono 4 L,Tipo,Sectores de Riego
0,1,PROGRAMA01,1,2024-06-07 09:09:00,2024-06-07 09:46:00,0 days 00:37:02,11.400007,0.0,0.0,0.0,0.0,Horario,1
1,2,PROGRAMA02,1,2024-06-07 09:47:00,2024-06-07 10:19:00,0 days 00:32:09,12.100010,0.0,0.0,0.0,0.0,Horario,2
2,3,PROGRAMA03,1,2024-06-07 10:19:00,2024-06-07 11:00:00,0 days 00:40:32,19.100037,0.0,0.0,0.0,0.0,Horario,3
3,4,PROGRAMA04,1,2024-06-07 11:01:00,2024-06-08 02:02:00,0 days 15:01:00,435.817383,0.0,0.0,0.0,0.0,Horario,4
4,4,PROGRAMA04,2,2024-06-08 02:02:00,2024-06-08 03:00:00,0 days 00:57:52,27.500069,0.0,0.0,0.0,0.0,Horario,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,1,PROGRAMA01,1,2024-09-26 07:59:00,2024-09-26 19:59:00,0 days 11:59:59,287.705299,0.0,0.0,0.0,0.0,Horario,1
171,2,PROGRAMA02,1,2024-09-26 19:59:00,2024-09-27 07:59:00,0 days 12:00:00,204.001251,0.0,0.0,0.0,0.0,Horario,2
172,3,PROGRAMA03,1,2024-09-27 07:59:00,2024-09-27 19:59:00,0 days 12:00:00,347.608170,0.0,0.0,0.0,0.0,Horario,3
173,4,PROGRAMA04,1,2024-09-27 19:59:00,2024-09-28 08:00:00,0 days 12:00:02,352.008385,0.0,0.0,0.0,0.0,Horario,4
174,1,PROGRAMA01,1,2024-10-25 10:26:00,2024-10-25 10:41:00,0 days 00:14:46,7.699995,0.0,0.0,0.0,0.0,Forzada,1